<main>
    <form class="register-user-form" action="" method="post">
        <label for="username">Usu치rio :</label>
        <input name="username" id="username">

        <label fofr="email">Email :</label>
        <input name="email" id="email">

        <label for="password">Senha :</label>
        <input name="password" id="password">

        <label>Tipo do Usu치rio :</label>
        <select id="usertype" name="usertype">
            <option value="adm">Administrador</option>
            <option value="gerente">Gerente</option>
            <option value="funcion치rio">Funcion치rio</option>
        </select>

        <button class="register-user-btn" type="submit">Cadastrar</button>
    </form>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</main>