<main>
    <form class="register-user-form" action="" method="post">
        <label for="username">Usuário :</label>
        <input name="username" id="username">

        <label fofr="email">Email :</label>
        <input name="email" id="email">

        <label for="password">Senha :</label>
        <input name="password" id="password">

        <button class="register-user-btn" type="submit">Cadastrar</button>
    </form>
</main>