<main>
    <div class="div-form">
        <form class="form-register-car" action="" method="post">
            <label for="model">Modelo do Carro :</label>
            <input name="model" id="model">

            <label for="brand">Marca do Carro :</label>
            <input name="brand" id="brand">

            <label for="brand">Placa :</label>
            <input name="licensePlate" id="licensePlate">

            <label for="year">Ano :</label>
            <input name="carYear" id="year">

            <label for="problem-description">Descrição do Problema :</label>
            <input name="problemDescription" id="problemdescription">

            <label for="owners-name">Nome do Proprietário :</label>
            <input name="ownersName" id="ownersname">

            <label for="ownersemail">Email do Proprietário :</label>
            <input name="ownersEmail" id="ownersemail">

            <label for="owners-phone1">Telefone do Proprietário :</label>
            <input name="ownersPhoneOne" id="ownersphone1">

            <label for="owners-cpf">CPF do Proprietário :</label>
            <input name="ownersCpf" id="ownerscpf">

            <button type="submit" class="btn-register-car">Confirmar</button>

        </form>


    </div>
</main>