<main>
    <div class="div-form">
        <form class="form-register-car" action="" method="post">
            <label for="model">Modelo do Carro :</label>
            <input name="model" id="model">

            <label for="brand">Marca do Carro :</label>
            <input name="brand" id="brand">

            <label for="brand">Placa :</label>
            <input name="license-plate" id="license-plate">

            <label for="year">Ano :</label>
            <input name="year" id="year">

            <label for="problem-description">Descrição do Problema :</label>
            <input name="problem-description" id="problem-description">

            <label for="owners-name">Nome do Proprietário :</label>
            <input name="oenwers-name" id="owners-name">

            <label for="owners-email">Email do Proprietário :</label>
            <input name="owners-email" id="owners-email">

            <label for="owners-phone1">Telefone do Proprietário :</label>
            <input name="owners-phone1" id="owners-phone1">

            <label for="owners-cpf">CPF do Proprietário :</label>
            <input name="owners-cpf" id="owners-cpf">

            <button type="submit" class="btn-register-car">Confirmar</button>

        </form>


    </div>
</main>